.intro--button {
  border: 0.062rem solid var(--green);
  background: transparent;
  width: 12rem;
  height: 2.867rem;
  text-transform: uppercase;
  color: var(--white);
  font-size: 0.875rem;
  margin: 0 0 0.5rem 2.1rem;
}