.timer--title {
  color: var(--white);
  font-size: 3.352rem;
  margin: 0 0 0 2.8rem;
}

@media (min-width: 320px) {
  .timer--title {
    font-size: 2rem;
    margin: 0 0 0.8rem 0;
    text-align: center;
  }
}