:root {
  --green: #9DC408;
  --dark-green: #659723;
  --black: #24231F;
  --white: #F7FFF2;
  --secondary-text: #F0FDE8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--green);
}

a {
  color: inherit;
}

.regular--text {
  color: var(--white);
  font: lighter 0.875rem 'Acumin Pro';
  line-height: 1.375rem;
}

.bolded--text {
  font-family: 'Acumin Pro';
  font-weight: bold;
}

.timer--subtitle {
  color: var(--secondary-text);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.input--field {
  background: var(--white) 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 0.187rem;
  height: 2rem;
  font-size: 0.687rem;
  padding-left: 0.5rem;
}

.background--fill {
  background: var(--green);
}

.flex--container {
  display: flex;
}

.banner {
  background-color: var(--black);
  width: 20.451rem;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}