:root {
  --green: #9DC408;
  --dark-green: #659723;
  --black: #24231F;
  --white: #F7FFF2;
  --secondary-text: #F0FDE8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--green);
}

.bolded--text {
  font-family: 'Acumin Pro';
  font-weight: bold;
}